.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*gap: 40px;*/
    width: 100%;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: solid #c8baba 1px;
    border-right: solid #C8BABAFF 1px;
    background-color: white;
    padding: 15px;
    min-height: 400px;
    transition: all 0.2s ease;
}
.product-item:hover{
box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.25);
scale: 1.02;
transition: all 0.2s ease;
}

.product-image {
object-fit: contain;
max-width: 100%;
height: 280px;
border-radius: 8px;
}