.sidebar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.sidebar h2 {
    font-size: 20px;
    padding: 20px;
}

.sidebar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 20px 40px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.sidebar li:hover {
    background-color: #d8d8d8;
    transition: all 0.1s ease;
}

.sidebar button {
    /*background-color: #01151B;*/
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;

    cursor: pointer;
    font-size: 14px;
    transition: all 0.1s ease;

}

.sidebar button:hover {
    background-color: #cc5200;
    transition: all 0.1s ease;

}