.header__logo {
    display: flex;
    align-items: center;
}

.header-menu-container {
    padding: 10px;
    color: white;
    background-color: #00553F;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    margin: 20px 0;
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.nav-element > a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}


.header__logo img {
    height: 40px;
    margin-right: 10px;
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 10px
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 0;
}

.phone-icon {
    margin-right: 5px;
    /* Добавьте стили для иконки телефона */
}

.header__time {
    font-size: 0.9em;
    color: #ccc; /* Более светлый цвет текста */
}

.header-icons {
    display: flex;
    gap: 20px
}
.header-icons ul{
    list-style: none;
}

.header__favorites,
.header__cart {
    color: white;
    cursor: pointer;
}